@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

body {
  font-family: "kanit", sans-serif;
}

img[alt="sharkicon"] {
  height: 40px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  text-decoration-line: underline;
}

.card-section {
  position: relative;
  bottom: 100px;
}
.card-block {
  padding: 50px;
  border-radius: 50px;
}
.section-title {
  margin-bottom: 60px;
}
